<div class="jumbotron mt-md-5">
    <div class="display-3 mb-sm-5">Pair BnB</div>
    <div class="lead mb-sm-3">A place to find your next home</div>

    <button type="button" class="btn btn-primary btn-lg w-25 text-center" data-toggle="modal" data-target="#login-alert-modal">
        <i class="fa fa-calendar-check-o mr-sm-1" aria-hidden="true"></i>
        Book Now!</button>

</div>

<!--<div class="jumbotron">-->
    <!--<div class="container">-->
        <!--<h2>Keep your heart as if you have just entered this world and your mind as if you have lived it one hundred times.</h2>-->
        <!--<button type="button" class="btn btn-primary text-center">-->
            <!--Projects-->
        <!--</button>-->
    <!--</div>-->
<!--</div>-->

<div class="container">
    <div class="col-sm-6 para-one text-justify">
        <h1>About Us</h1>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum
    </div>

    <div class="col-sm-6 para-two text-justify">
        <h1>Why use us</h1>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
        aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo
        enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
        qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
        consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam
        quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam,
        nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse
        quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
    </div>
</div>
