<nav class="nav fixed-top">
    <li class="nav-item">
        <a class="nav-link active" href="#">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Signup</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
    </li>
</nav>


<!--<nav class="menu">-->
  <!--<ul class="active">-->
    <!--<li class="current-item"><%= link_to "Home", root_url %></li>-->
    <!--<li><%= link_to "Login", "#" %></li>-->
    <!--<li><%= link_to "Signup", "#" %></li>-->
    <!--<li><%= link_to "About Us", "#" %></li>-->
  <!--</ul>-->
<!--</nav>-->